acrdn-cntnr {
	display: var(--acrdn-dsply);
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
/*
ACCORDION CONTROLS
Hide radios */
acrdn-cntnr input[id*='acrdnTgle']:checked + label {color: var(--page-txt-clr-hvr);}
acrdn-cntnr label[for*='acrdnTgle']:hover {color: var(--page-txt-clr-hvr);}

acrdn-cntnr label {
	cursor: pointer;
	transition: color 250ms;
	color: var(--page-txt-clr);
	padding: 5px 1em;
	border-right: solid 1px var(--page-txt-clr-notes);
}
acrdn-cntnr label:last-of-type {border: none; }

acrdn-cntnr acrdn-cntnt {
	display: var(--acrdn-dsply);
	border: solid 1px yellow;
	grid-column: 1 / -1;
	align-content: start;
}
acrdn-cntnr acrdn-cntnt p {
	padding: 0 1em;
}
acrdn-cntnr input[type='radio'] {display: none;}
acrdn-cntnr {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
}
acrdn-cntnr label {justify-self: center;}
acrdn-cntnr input#acrdnTgle01:checked ~ acrdn-cntnt:not(:nth-of-type(1)),
acrdn-cntnr input#acrdnTgle02:checked ~ acrdn-cntnt:not(:nth-of-type(2)),
acrdn-cntnr input#acrdnTgle03:checked ~ acrdn-cntnt:not(:nth-of-type(3)),
acrdn-cntnr input#acrdnTgle04:checked ~ acrdn-cntnt:not(:nth-of-type(4)),
acrdn-cntnr input#acrdnTgle05:checked ~ acrdn-cntnt:not(:nth-of-type(5)) {display: none;}
