*:before, *:after, *, ::after, ::before {box-sizing: var(--box-sizing);}
html,
body {
	margin: var(--margin);
	padding: var(--padding);
	font-family: var(--font-family);
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	font-smooth: auto;
}
p {padding: 0 1em;}
/* Seven middle columns */
page-container {
	display: grid;
	grid-template-columns: var(--columns);
	grid-template-rows: var(--rows);
	gap: var(--gap);
	padding: var(--container-padding);
	height: var(--height);
}
/* All immediate children of page-container */
page-container > * {
	display: grid;
	border-radius: 0.3em;
}
/*
HEADER/FOOTER
First and last page-container child elements are reserved for header and footer.
They wrap and are not named and not counted when counting columns.
Span the first and the last child elements across all seven columns starting at the first column to the last column
*/
/* HEADER and FOOTER layout */
page-container page-hdr,
page-container page-ftr {
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: 1fr 1fr 1fr;
}
	/* HEADER left */
	page-container page-hdr page-hdr-left {
		display: grid;
		justify-self: left;
		align-self: center;
	}
		/* HEADER left logo */
		page-container page-hdr page-hdr-left svg {
			position: absolute; /* ignore padding */
			top: 2px;
			left: 20px;
			height: 85px;
	    }
		/* HEADER Left Logo Txt */
		page-container page-hdr page-hdr-left logo-txt {
			display: grid;
			margin-left: 80px;
			transform: scale(1, 0.7);
		}
		/* HEADER Left Logo Txt 2 */
		page-container page-hdr page-hdr-left logo-txt-2 {
			display: grid;
			left: 196px;
			top: 14px;
			transform: scale(.50, 0.3);
			position: absolute;
		}

	/* HEADER center banner */
	page-container page-hdr page-hdr-cntr {
		padding: var(--padding);
		justify-self: center;
		align-content: start;
	}
	/* HEADER right Username */
	page-container page-hdr page-hdr-right {
		padding: var(--padding);
		justify-self: right;
		align-self: center;
	}
	/* FOOTER left */
	page-container page-ftr page-ftr-left  {
		padding: var(--padding);
		justify-self: left;
		align-self: center;
	}
	/* FOOTER center banner */
	page-container page-ftr page-ftr-cntr {
		padding: var(--padding);
		justify-self: center;
		align-self: center;
	}
	/* FOOTER right */
	page-container page-ftr page-ftr-right {
		padding: var(--padding);
		justify-self: right;
		align-self: center;
	}
	/* Middle columns and their vertical layout */
	page-container page-panel {
		grid-template-rows: auto 1fr auto;
		position: relative;
	}
		/* Middle columns HEADERS and FOOTERS */
		page-container page-panel panel-hdr,
		page-container page-panel panel-ftr {
			display: var(--display);
			grid-template-columns: 1fr 1fr 1fr;
		}
			/* Middle columns HEADERS and FOOTERS left */
			page-container page-panel panel-hdr panel-hdr-left,
			page-container page-panel panel-ftr panel-ftr-left {
				padding: var(--padding);
				justify-self: left;
				align-self: center;
			}
			/* Middle columns HEADERS and FOOTERS right */
			page-container page-panel panel-hdr panel-hdr-right,
			page-container page-panel panel-ftr panel-ftr-right {
				padding: var(--padding);
				justify-self: right;
				align-self: center;
			}
			/* Middle columns HEADERS and FOOTERS center */
			page-container page-panel panel-hdr panel-hdr-cntr,
			page-container page-panel panel-ftr panel-ftr-cntr {
				padding: var(--padding);
				justify-self: center;
				align-self: center;
			}
	/* Middle columns CONTENT */
	page-container page-panel panel-content {
		display: grid;
		grid-template-columns: 1fr;
	}


/*.page-container div:nth-last-child(2) {display: none;}*/

a {transition: var(--transition);}
a:hover {color: var(--txt-color-hover);}

/*
	LAYOUT CONTROLS
*/
/* Hide radios and checkboxes */
body > input {display: none;}

body > label {
  position: absolute;
  top: 30px;
  cursor: pointer;
  transition: var(--transition);
  padding: 5px 10px;
}

input#layoutTgl01:checked + label,
input#layoutTgl02:checked + label,
input#layoutTgl03:checked + label,
input#layoutTgl04:checked + label,
input#layoutTgl05:checked + label {color: var(--txt-color-hover);}

label[for*='layoutTgl']:checked {color: var(--txt-color-hover);}
label[for*='layoutTgl']:hover {color: var(--txt-color-hover);}

input#layoutTgl01 + label {right: 178px;}
input#layoutTgl02 + label {right: 142px;}
input#layoutTgl03 + label {right: 106px;}
input#layoutTgl04 + label {right: 66px;}
input#layoutTgl05 + label {right: 30px;}
/*
    LAYOUT 01
*/
input#layoutTgl01:checked ~ page-container {
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* HOME | HOME | HOME | HOME */
}
input#layoutTgl01:checked ~ page-container > :nth-child(n+2):nth-child(-n+5) {display: none;}
/*
    LAYOUT 02
*/
input#layoutTgl02:checked ~ page-container {
	grid-template-columns: 250px 1fr; /* NAV | RESULTS */
}
input#layoutTgl02:checked ~ page-container > :nth-child(n+4):nth-child(-n+9) {display: none;}
/*
    LAYOUT 03
*/
input#layoutTgl03:checked ~ page-container {
	grid-template-columns: 250px 1.5fr 1fr; /* NAV | RESULTS | PROFILE */
}
input#layoutTgl03:checked ~ page-container > :nth-child(n+5):nth-child(-n+9) {display: none;}
/*
    LAYOUT 04
*/
input#layoutTgl04:checked ~ page-container {
	grid-template-columns: 250px 1.5fr 1fr 350px; /* NAV | RESULTS | PROFILE | DETAILS */
}
input#layoutTgl04:checked ~ page-container > :nth-child(n+6):nth-child(-n+9) {display: none;}
