table-container {
	display: var(--tab-dsply);
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto 1fr;
	overflow-y: auto;
}
/*
TAB CONTROLS
Hide radios */
table-container > input {display: none;}
table-container > input:checked + label {color: var(--page-txt-clr-hvr);}
table-container > label:hover {color: var(--page-txt-clr-hvr);}

table-container > label {
	cursor: pointer;
	transition: color 250ms;
	color: var(--page-txt-clr);
	padding: 5px 1em;
	border-right: solid 1px var(--page-txt-clr-notes);
	justify-self: center;
}
table-container > label:last-of-type {border: none; }

table-container table-content {
	display: var(--tab-dsply);
	border: solid 1px red;
	grid-column: 1 / -1;
	align-content: start;
}

table-container > input#tableToggle01:checked ~ table-content:not(:nth-of-type(1)),
table-container > input#tableToggle02:checked ~ table-content:not(:nth-of-type(2)),
table-container > input#tableToggle03:checked ~ table-content:not(:nth-of-type(3)),
table-container > input#tableToggle04:checked ~ table-content:not(:nth-of-type(4)) {display: none;}

table-container > input#tableToggle01:checked ~ table-content:not(:nth-of-type(1)),
table-container > input#tableToggle02:checked ~ table-content:not(:nth-of-type(2)),
table-container > input#tableToggle03:checked ~ table-content:not(:nth-of-type(3)),
table-container > input#tableToggle04:checked ~ table-content:not(:nth-of-type(4)) {display: none;}
