/*
TAB CONTROLS
Hide radios */
table-container > input {display: none;}
table-container > input:checked + label {color: var(--page-text-color-hover);}
table-container > label:hover {color: var(--page-text-color-hover);}

table-container > label {
	cursor: pointer;
	transition: color 250ms;
	color: var(--page-text-color);
	padding: 5px 1em;
	border-right: solid 1px var(--page-text-color-notes);
	justify-self: center;
}

table-container > label:last-of-type {border: none; }

table-container > input#tablePagination01:checked ~ table-content:not(:nth-of-type(1)),
table-container > input#tablePagination02:checked ~ table-content:not(:nth-of-type(2)),
table-container > input#tablePagination03:checked ~ table-content:not(:nth-of-type(3)),
table-container > input#tablePagination04:checked ~ table-content:not(:nth-of-type(4)),
table-container > input#tablePagination05:checked ~ table-content:not(:nth-of-type(5)) {display: none;}

table-container table-content {
	display: var(--tab-display);
	/* border: solid 1px red; */
	grid-column: 1 / -1;
	align-content: start;
	overflow-y: auto;
}

table-content ol {
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	padding: 0;
	margin: 0;
	gap: 5px 0;
}

table-content ol > li {
	display: grid;
	grid-template-columns: auto 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	/* border: solid 1px yellow; */
	border-radius: 0.3rem;
	background-color: var(--panel-background-color);
	align-content: center;
	transition: all 250ms;
}
table-content ol > li:hover {
background-color: rgba(255,255,255,0.01);
}
table-cell {
	display: grid;
	justify-content: center;
	padding: 20px;
}