tab-container {
	display: var(--tab-display);
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto 1fr;
}
/*
TAB CONTROLS
Hide radios */
tab-container input[id*='TabToggle']:checked + label {color: var(--page-color-hover);}
tab-container label[for*='TabToggle']:hover {color: var(--page-color-hover);}

tab-container label {
	cursor: pointer;
	transition: color 250ms;
	color: var(--page-color);
	padding: 5px 1em;
	border-right: solid 1px var(--page-color-notes);
}
tab-container label:last-of-type {border: none; }

tab-container tab-content {
	display: var(--tab-display);
	border: solid 1px yellow;
	grid-column: 1 / -1;
	align-content: start;
}
tab-container tab-content p {
	padding: 0 1em;
}
tab-container input[type='radio'] {display: none;}
tab-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto 1fr;
}
tab-container label {justify-self: center;}
tab-container input#profileTabToggle01:checked ~ tab-content:not(:nth-of-type(1)),
tab-container input#profileTabToggle02:checked ~ tab-content:not(:nth-of-type(2)),
tab-container input#profileTabToggle03:checked ~ tab-content:not(:nth-of-type(3)),
tab-container input#profileTabToggle04:checked ~ tab-content:not(:nth-of-type(4)) {display: none;}

tab-container input#detailsTabToggle01:checked ~ tab-content:not(:nth-of-type(1)),
tab-container input#detailsTabToggle02:checked ~ tab-content:not(:nth-of-type(2)),
tab-container input#detailsTabToggle03:checked ~ tab-content:not(:nth-of-type(3)),
tab-container input#detailsTabToggle04:checked ~ tab-content:not(:nth-of-type(4)) {display: none;}