<panel-header>
    <panel-header-left><h1>FAVORITES</h1></panel-header-left>
    <panel-header-center></panel-header-center>
    <panel-header-right></panel-header-right>
</panel-header>
<panel-content>
    <p>Favorites content</p>
    <ul>
        <li><list-cell>ID</list-cell><list-cell>{item.id}</list-cell></li>
        <li><list-cell>name</list-cell><list-cell>{item.name}</list-cell></li>
        <li><list-cell>username</list-cell><list-cell>{item.username}</list-cell></li>
        <li><list-cell>website</list-cell><list-cell><a href=\"https://{item.website}\" target=\"_new\">{item.website}</a></list-cell></li>
        <li><list-cell>email</list-cell><list-cell><a href=\"mailto:{item.email}\" target=\"_new\">{item.email}</a></list-cell></li>
    </ul>
</panel-content>
<panel-footer>
    <panel-footer-left>: :</panel-footer-left>
    <panel-footer-center>: :</panel-footer-center>
    <panel-footer-right>: :</panel-footer-right>
</panel-footer>