<panel-header>
    <panel-header-left>
        <page-title>
			<span>Supers</span> 
            <low-light style="padding: 0 5px; nmargin-top: -12px;">
              [ Heroes <small>and</small> Villains ]
              <meta-label id="metaLabel">{{activeApplicationString}}</meta-label>
              <low-light style="font-size: 65%">/</low-light>
              <high-light>{{activeDataString}}</high-light>
              ]
			</low-light>
        </page-title>
    </panel-header-left>
    <panel-header-center></panel-header-center>
    <panel-header-right>
        <list-pagination></list-pagination>
    </panel-header-right>
</panel-header>
<panel-content>
	<list-results-header>
	  <list-item>
	    <list-cell>item01</list-cell>
		<list-cell>item02</list-cell>
		<list-cell>item03</list-cell>
		<list-cell>item04</list-cell>
		<list-cell>item04</list-cell>
	  </list-item>
	</list-results-header>
	<list-results id="myList"></list-results>
</panel-content>
<panel-footer>
    <panel-footer-left></panel-footer-left>
    <panel-footer-center></panel-footer-center>
    <panel-footer-right></panel-footer-right>
</panel-footer>
