/* 
    Local overrides of _panels.css 
*/

panel-main {
  margin-left: 0;
  margin-right: 0;
  background-color: transparent;
}

/*
    PANEL HEADER
*/

panel-main panel-header,
panel-main panel-content,
panel-main panel-footer {padding: 0;}

panel-main panel-header-left {
  padding: 0;
  align-content: start;
}
page-title {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .5rem;
  align-items: center;

  font-family: var(--font01);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 100;
  color: var(--page-high-light-color);
  letter-spacing: var(--font01-letter-spacing);
}

page-title low-light {font-size: 65%;}

panel-main panel-header,
panel-main panel-footer {
  grid-template-columns: 1fr auto auto;
  background-color: rgba(255,255,255,0.00);
  box-shadow: inset 0 0.1rem 0 0 rgb(255 255 255 / 0), 
              inset 0 -0.1rem 0 0 rgb(0 0 0 / 0);
}

panel-main list-item:first-of-type,
panel-main list-item:last-of-type {
  box-shadow: inset 0 0.1rem 0 0 rgb(255 255 255 / 0), 
              inset 0 -0.1rem 0 0 rgb(0 0 0 / 0);
}
