panel-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  border-radius: .3rem;
  margin-left: 0;
	margin-right: 0;
	background-color: transparent;
	overflow-y: hidden;
}


/*
    PANEL HEADER
*/
panel-main panel-header {grid-template-columns: 1fr auto auto;}
panel-main panel-header-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: start; 
  align-content: start;
}
panel-main panel-header-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

/*
    PANEL CONTENT
*/
panel-main panel-content {
  display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	align-content: start;
  overflow-y: hidden;
}

/*
    PANEL FOOTER
*/
