/*
    PANEL HEADER
*/

panel-main {
	margin-left: 0;
	margin-right: 0;
	background-color: transparent;
	overflow-y: hidden;
}

panel-main panel-header {grid-template-columns: 1fr auto auto;}


/*
    PANEL CONTENT
*/
panel-main panel-content {
  display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	align-content: start;
  overflow-y: hidden;
}

/*
    PANEL FOOTER
*/
