<panel-header>
  <panel-header-left><span>NAV</span></panel-header-left>
  <panel-header-center></panel-header-center>
  <panel-header-right>
    <panel-close>
      <low-light>[</low-light>&#160;x&#160;<low-light>]</low-light>
    </panel-close>
  </panel-header-right>
</panel-header>
<panel-content>
  <list-dataset></list-dataset>
</panel-content>
<panel-footer>
  <panel-footer-left>: :</panel-footer-left>
  <panel-footer-center>: :</panel-footer-center>
  <panel-footer-right>: :</panel-footer-right>
</panel-footer>
