/* https://codepen.io/raubaca/pen/PZzpVe */
/* https://codepen.io/dragontheory/pen/GRmOMbY */
/*
NAV CONTROLS
Hide radios */
nav-container > label {
  display: grid;
  grid-template-columns: 1fr auto;
  cursor: pointer;
  color: var(--text-color);
  padding: 1rem;
  align-content: center;
  transition: var(--transition);
}
nav-container > label > small {
  font-family: var(--font01);
  letter-spacing: var(--font01-letter-spacing);
}
nav-container > label > small > span {
  color: var(--page-high-light-color);
}
nav-container > label:hover {
  background-color: var(--page-bg-color-hover);
  color: var(--page-text-color-hover);
}

nav-container nav-content {
  display: grid;
  height: 0;
  align-content: start;
  overflow-y: auto;
  transition: var(--transition);
  background-color: rgba(0,0,0,0.1);
}

nav-container > input#navToggle01:checked ~ nav-content:nth-of-type(1),
nav-container > input#navToggle02:checked ~ nav-content:nth-of-type(2),
nav-container > input#navToggle03:checked ~ nav-content:nth-of-type(3),
nav-container > input#navToggle04:checked ~ nav-content:nth-of-type(4) {height: auto;}

nav-content > label {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 1rem;
  cursor: pointer;
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,1),
              inset 0 1px 0 0 rgba(255,255,255,0.1);
}
nav-content > label > span {
  justify-self: left;
  margin-left: 5px;
}
nav-content > label small {
  justify-self: right;
  font-family: var(--font01);
  letter-spacing: var(--font01-letter-spacing);
  color: rgba(255,255,255,0.5);
}
nav-content > label > small > span {
  color: var(--page-high-light-color);
}
nav-content > label:hover {
  background-color: var(--page-bg-color-hover);
}
nav-content > label:first-of-type {
  box-shadow: inset 0 -1px 0 0 rgba(0,0,0,1),
              inset 0 1px 0 0 rgba(0,0,0,1);
}
nav-content > label:last-of-type {
  box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.1),
              inset 0 1px 0 0 rgba(255,255,255,0.1);
}
nav-content > label:only-of-type {
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,1), 
              inset 0 -1px 0 0 rgba(255,255,255,0.1)
}
nav-panel ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 0;
  margin: 0;
}
nav-panel li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  box-shadow: inset 0 -1px 0 0 rgb(0 0 0), inset 0 1px 0 0 rgb(255 255 255 / 10%);
}
nav-panel list-cell {
  display: grid;
  justify-content: start;
  align-content: start;
  padding: 1rem 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
nav-panel list-cell:nth-last-child() {
  padding: 1rem;
}