panel-splitter {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms;
}
panel-splitter:hover {
	background-color: rgba(117,193,255,0.3);
	cursor: col-resize;
}
panel-splitter:focus,
panel-splitter:active {
  cursor: col-resize;
  background-color: rgba(117,193,255,1.0);
}

