<panel-header>
  <panel-header-left>NAV</panel-header-left>
  <panel-header-center>: :</panel-header-center>
  <panel-header-right>: :</panel-header-right>
</panel-header>
<panel-content>
  <ul style="margin-top: .5em;">
    <li>
      <list-cell>
        <input type="checkbox" />
      </list-cell>
      <list-cell>navitem</list-cell>
      <list-cell>01</list-cell>
    </li>
    <li>
      <list-cell>
        <input type="checkbox" />
      </list-cell>
      <list-cell>navitem</list-cell>
      <list-cell>02</list-cell>
    </li>
    <li>
      <list-cell>
        <input type="checkbox" />
      </list-cell>
      <list-cell>navitem</list-cell>
      <list-cell>03</list-cell>
    </li>
    <li>
      <list-cell>
        <input type="checkbox" />
      </list-cell>
      <list-cell>navitem</list-cell>
      <list-cell>04</list-cell>
    </li>
    <li>
      <list-cell>
        <input type="checkbox" />
      </list-cell>
      <list-cell>navitem</list-cell>
      <list-cell>05</list-cell>
    </li>
  </ul>
</panel-content>
<panel-footer>
  <panel-footer-left>: :</panel-footer-left>
  <panel-footer-center>: :</panel-footer-center>
  <panel-footer-right>: :</panel-footer-right>
</panel-footer>
