/*  PANELS  */
page-container > * {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  border-radius: .3rem;
}
/* page-header and page-footer are overwritten styles in their respective dedicated component CSS files */
panel-header,
panel-footer {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}
/* panel-header > *,
panel-footer > * {
  padding: 1rem;
} */
panel-header-right {
  justify-self: end;
  align-self: center;
}
panel-header-center {
  justify-self: center;
  align-self: center;
}
panel-header-left {
  justify-self: start;
  align-self: center;
}
panel-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow-y: hidden;
}
panel-footer-right {
  justify-self: end;
  align-self: center;
}
panel-footer-center {
  justify-self: center;
  align-self: center;
}
panel-footer-left {
  justify-self: start;
  align-self: center;
}
