/* https://css-tricks.com/scrollbars-on-hover/ */ 
/* https://codepen.io/dragontheory/details/WNrKYXm */ 

/* SHOW SCROLLBARS ON HOVER ONLY */
list-app,
list-dataset,
list-results,
list-details,
list-layouts,
list-themes {
	padding-right: 0;
	overflow-y: scroll;
  mask-image: linear-gradient(to top, transparent, black),
              linear-gradient(to left, transparent .3rem, black .3rem);
  mask-size: 100% 200rem;
  mask-position: left-bottom;	
  -webkit-mask-image: linear-gradient(to top, transparent, black),
                      linear-gradient(to left, transparent .5rem, black .5rem);
  -webkit-mask-size: 100% 200rem;
  -webkit-mask-position: left bottom;
  transition: all 250ms;
  outline: none;
}

list-app:hover, 
list-dataset:hover,
list-results:hover,
list-details:hover,
list-layouts:hover,
list-themes:hover {
  mask-position: left top;
  -webkit-mask-position: left top;
}

/* FF */
list-app,
list-dataset,
list-results,
list-details,
list-layouts,
list-themes {
  scrollbar-width: thin;
  scrollbar-color: rgba(102,175,233,1.0) transparent;
}

/* EVERYTHING ELSE */
::-webkit-scrollbar {
  width: .3rem; /* vertical scrollbars */
  height: .3rem; /* horizontal scrollbars */
}
::-webkit-scrollbar-track {background: transparent;} /* background */
::-webkit-scrollbar-thumb {
  background-color: rgba(102,175,233,1.0);
  border-radius: .3rem;
  border: .18rem solid transparent;  /* background */
} /* HIDE SCROLLBAR UNTIL HOVER */
/* https://codepen.io/dragontheory/details/WNrKYXm */ 
list-results,
list-app,
list-dataset,
list-details,
list-layouts,
list-themes {
  mask-image: linear-gradient(to top, transparent, black),
              linear-gradient(to left, transparent .5rem, black .5rem);
  mask-size: 100% 200rem;
  mask-position: left-bottom;	
  -webkit-mask-image: linear-gradient(to top, transparent, black),
                      linear-gradient(to left, transparent .5rem, black .5rem);
  -webkit-mask-size: 100% 200rem;
  -webkit-mask-position: left bottom;
  transition: all 250ms;
  outline: none;
}

list-results:hover,
list-app:hover, 
list-dataset:hover,
list-details:hover,
list-layouts:hover,
list-themes:hover {
  mask-position: left top;
  -webkit-mask-position: left top;
}

/* FF */
list-results,
list-app,
list-dataset,
list-details,
list-layouts,
list-themes {
  scrollbar-width: thin;
  scrollbar-color: rgba(102,175,233,1.0) transparent;
}

/* EVERYTHING ELSE */
::-webkit-scrollbar {
  width: .3rem; /* vertical scrollbars */
  height: .3rem; /* horizontal scrollbars */
}
::-webkit-scrollbar-track {background: transparent;} /* background */
::-webkit-scrollbar-thumb {
  background-color: rgba(102,175,233,1.0);
  border-radius: .37rem;
  border: .37rem solid transparent;  /* background */
} 

/* https://codeconvey.com/custom-scrollbar-css-for-all-browsers/ */

/* scrollbar width */
/* ::-webkit-scrollbar {width: 0.5rem;} */
  
  /* scrollbar Track */
  /* ::-webkit-scrollbar-track { */
      /* background: rgba(0,0,0,0.1);   fallback for old browsers */
      /* background: -webkit-linear-gradient(to rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.1));   Chrome 10-25, Safari 5.1-6 */
      /* background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.1));  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      /* border-radius: 0.1rem;
  } */
  
  /* scrollbar Handle */
  /* ::-webkit-scrollbar-thumb {
      background: rgba(255,255,255,0.1);   fallback for old browsers */
      /* background: -webkit-linear-gradient(to right, rgba(255,255,255,0.1), rgba(255,255,255,0.1));   Chrome 10-25, Safari 5.1-6 */
      /* background: linear-gradient(to right, rgba(255,255,255,0.1), rgba(255,255,255,0.1));  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
      border-radius: 0.1rem;
      transition: all 250ms;
  } */
  
  /* scrollbar Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {background: #00527a rgba(62, 144, 252, 1.0);} 
  
  @media only screen and (max-width: 50rem) {
    main {width: 80% !important;}
  } */



/* For Firefox 
#myList { scrollbar-color: #00527a transparent;
  scrollbar-width: thin;}*/
