
/* https://codepen.io/miriamsuzanne/pen/vYNgodb */
/* defaults & overrides */
/* html {--btn-bg--default: blue;}
  
  button {
    border-radius: .5rem;
    background: var(--btn-bg--state, 
      var(--btn-bg, 
        var(--btn-bg--type, 
          var(--btn-bg--default)
        )
      )
    );
  }
  
  [disabled] {--btn-bg--state: gray;}
  .warn {--btn-bg--type: maroon;}
  .go {--btn-bg--type: darkgreen;}
  form {--btn-bg--default: deeppink;}
  button {
    color: white;
    border: thin solid black;
    font: inherit;
    margin: 0.5em;
    padding: 0.5em 2em;
  } */
  close-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    cursor: pointer;
  }
