panel-content-right .percent {
    position:                           relative;
    width:                              150px;
    height:                             150px;
    border-radius:                      50%;
    justify-self:                       center;
}
panel-content-right svg {
    position:                           relative;
    width:                              150px;
    height:                             150px;
}
panel-content-right svg circle {
    width:                              100%;
    height:                             100%;
    fill:                               none;
    stroke:                            #191919;
    stroke-width:                       10;
    stroke-linecap:                     round;
    transform:                          translate(5px, 5px);
}
panel-content-right svg circle:nth-child(2) {
    stroke-dasharray:                   440;
    stroke-dashoffset:                  440;
}
panel-content-right svg circle:nth-child(2) {
    stroke-dashoffset:                  calc(440 - (440 * 85) / 100);
    stroke:                             #00a1ff;
}
panel-content-right .percent circle-number {
    position:                           absolute;
    top:                                -10px;
    left:                               0;
    width:                              100%;
    height:                             100%;
    display:                            flex;
    justify-content:                    center;
    align-items:                        center;
    border-radius:                      50%;
    color:                              var(--highlight-color);
}
panel-content-right .percent circle-text {
    position:                           absolute;
    color:                              #777;
    margin-top:                         60px;
    text-transform:                     uppercase;
    transition:                         0.5s;
}