/* https://dev.to/madsstoumann/building-a-minimal-autosuggest-4big */
[type="search"]::-webkit-search-cancel-button {
    --reset: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17.016 15.609l-3.609-3.609 3.609-3.609-1.406-1.406-3.609 3.609-3.609-3.609-1.406 1.406 3.609 3.609-3.609 3.609 1.406 1.406 3.609-3.609 3.609 3.609zM12 2.016q4.125 0 7.055 2.93t2.93 7.055-2.93 7.055-7.055 2.93-7.055-2.93-2.93-7.055 2.93-7.055 7.055-2.93z"/></svg>');
    background-color: var(--page-highlight-color);
    display: block;
    height: 1rem;
    mask-image: var(--reset);
    width: 1rem;
    -webkit-appearance: none;
    -webkit-mask-image: var(--reset);
}

[list]::-webkit-calendar-picker-indicator {
    display: none !important;
}
[type="search"] {
    background-color: var(--panel-background-color);
    color: var(--page-highlight-color);
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    min-width: 250px;
    /* box-shadow: inset 1px 0 0 0 rgba(255,255,255,0.1),
                inset 0 -1px 0 0 rgba(255,255,255,0.1),
                inset -1px 0 0 0 rgba(0,0,0,1.0),
                inset 0 1px 0 0 rgba(0,0,0,1.0); */
}
[type="search"]:focus {
    border: none;
    /* box-shadow: inset 1px 0 0 0 rgba(255,255,255,0.1),
                inset 0 -1px 0 0 rgba(255,255,255,0.1),
                inset -1px 0 0 0 rgba(0,0,0,1.0),
                inset 0 1px 0 0 rgba(0,0,0,1.0); */
}
[type="search"]:focus-visible {
    outline: -webkit-focus-ring-color auto 0;
    outline: -moz-focus-ring-color auto 0;
}
option {
    padding: 5px;
    min-height: 1em;;
}