/* https://dev.to/jaredcwhite/custom-elements-everywhere-for-page-layout-parts-i-and-ii-438p */
*:before, *:after, *, ::after, ::before {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  font-family: Oxanium;
  overflow: hidden;
}

/*  PAGE [ default ] */
page-container {
  gap: 1rem;
  padding: 1rem;
  height: 100vh;
  display: grid;
  overflow: hidden;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 250px 1fr 0 10px 300px;
  grid-template-areas:
    "header header header header   header"
    "nav    intro  main   splitter aside"
    "footer footer footer footer   footer";
}

page-header		{ grid-area: header; }
nav-panel    	{ grid-area: nav; }
intro-panel   	{ grid-area: intro; }
main-panel   	{ grid-area: main; }
splitter-panel { grid-area: splitter; }
aside-panel  	{ grid-area: aside; }
page-footer 	{ grid-area: footer; }

page-header-left {
  display: grid;
  justify-self: left;
  align-self: center;
}
page-header-center {
  justify-self: center;
  align-content: start;
}
page-header-right {
  justify-self: right;
  align-self: center;
}

page-container > * {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  border-radius: .3rem;
}

page-header,
page-footer {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
}
page-footer-right {
  justify-self: right;
  align-self: center;
}
page-footer-center {
  justify-self: center;
  align-self: center;
}


/*  PANEL  */
panel-header,
panel-footer {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
}
panel-header-right {
  justify-self: end;
  align-self: center;
}
panel-header-center {
  justify-self: center;
  align-self: center;
}
panel-header-left {
  justify-self: start;
  align-self: center;
}
panel-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow-y: auto;
  align-items: start;
}
panel-footer-right {
  justify-self: end;
  align-self: center;
}
panel-footer-center {
  justify-self: center;
  align-self: center;
}
panel-footer-left {
  justify-self: start;
  align-self: center;
}

/* Override for main and intro */
intro-panel panel-header,
intro-panel panel-content,
intro-panel panel-footer,
main-panel panel-header,
main-panel panel-content,
main-panel panel-footer {padding: 0;}



/* NAV + INTRO */
body.nav.intro page-container {
  grid-template-columns: 250px 1fr 0 0 0;
}
body.nav.intro page-container intro-panel {margin-right: -3rem;}

/* NAV + MAIN */
body.nav.main page-container {grid-template-columns: 250px 0 1fr 0 0;}
body.nav.main page-container main-panel {margin-right: -2rem;}

/* NAV + MAIN + SPLITTER + ASIDE */
body.nav.main.aside page-container {grid-template-columns: 250px 0 1fr 10px 300px;}
body.nav.main.aside page-container main-panel {margin-right: 0;}
