/* https://codepen.io/raubaca/pen/PZzpVe */
/* https://codepen.io/dragontheory/pen/GRmOMbY */
/*
NAV CONTROLS
Hide radios */
nav-container > input {display: 			none;}
nav-container > input:checked + label {color: var(--page-text-color-hover);}
nav-container > label:hover {color: 		var(--pagetext-color-hover);}

nav-container {
	display: 								var(--display);
	grid-template-columns: 					1fr;
	grid-template-rows: 					auto auto auto auto auto auto auto auto;
	overflow-y: 							hidden;
	align-content: 							start;
}
nav-container > label {
		display: 							var(--display);
		cursor: 							pointer;
		color: 								var(--text-color);
		padding: 							1rem;
		align-content: 						center;
		justify-content: 					start;
		transition: 						var(--transition);
	}

	nav-container > label:hover {
		background-color: 					var(--page-background-color-hover);
		color: 								var(--page-text-color-hover);
	}

	nav-container nav-content {
		display: 							var(--display);
		height: 							0;
		box-shadow: 						inset 0 0 1px 1px cyan;
		align-content: 						start;
		overflow-y: 						auto;
		transition: 						var(--transition);
	}

	nav-container > input#navToggle01:checked ~ nav-content:nth-of-type(1),
	nav-container > input#navToggle02:checked ~ nav-content:nth-of-type(2),
	nav-container > input#navToggle03:checked ~ nav-content:nth-of-type(3),
	nav-container > input#navToggle04:checked ~ nav-content:nth-of-type(4) {height: auto;}
