:root {
  --table-display: grid;
  --table-cell-divider-text-shadow: 2px 0 0 #000;
}
table-container {
	display: var(--table-display);
    position: relative;
	overflow-y: hidden;
}
/*
TABLE CONTROLS
Hide radios */
table-container > input {display: none;}
table-container > input:checked + label {color: var(--page-text-color-hover);}
table-container > label:hover {color: var(--page-text-color-hover);}

table-container > label {
	cursor: pointer;
	transition: color 250ms;
	color: var(--page-text-color);
	padding: 5px 10px;
	border-right: solid 1px var(--page-text-color-notes);
	position: absolute;
    top: 12px;
	font-family: var(--font01);
	letter-spacing: var(--font01-letter-spacing);
}
table-container > label:nth-of-type(1) {right: 160px;}
table-container > label:nth-of-type(2) {right: 120px;}
table-container > label:nth-of-type(3) {right: 80px;}
table-container > label:nth-of-type(4) {right: 40px;}
table-container > label:nth-of-type(5) {right: 0;}

table-container > label:last-of-type {border: none; }

/* table-container table-content {
	display: var(--tab-display);
	grid-column: 1 / -1;
	align-content: start;
	overflow-y: hidden;
} */

table-container ol {
	list-style-type: none;
	counter-reset: table-row-counter 0;
	display: var(--table-display);
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	padding: 0;
	margin: 0;
	gap: .5rem 0;
}
table-container ol > li {
	display: var(--table-display);
	counter-increment: table-row-counter;
	grid-template-columns: .2fr .2fr .5fr .5fr .5fr 1fr;
	grid-template-rows: 1fr;
	/* border: solid 1px yellow; */
	border-radius: 0.3rem;
	background-color: var(--panel-bg-color);
	align-content: center;
	transition: all 250ms;
	cursor: pointer;
}
table-container ol > li.active {
	background-color: var(--page-bg-color-hover);
	color: var(--page-text-color-hover);
}
table-container ol > li table-cell {
	display: var(--table-display);
	justify-content: start;
	align-content: start;
	padding: 1rem .5rem;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	display: inline-block;
}
ol#myList {overflow-y: auto;}
/* ol#myList > li::before {content: "0" attr(data-co);} */
ol#myList > li:hover {background-color: var(--page-bg-color-hover);}/* #00a1ff */
