@import url('https://fonts.googleapis.com/css2?family=Geo&family=Oxanium:wght@200&display=swap');
:root {
  --font01: Agency, Agency FB, Agency FB Regular, Tahoma, serif;
  --font01-letter-spacing: .1rem;
  --font03: Oxanium;
  --font03-font-size: .9rem;
  --font04: Orbitron;
  --font04-font-size: .8rem;
  --font05: Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  --font05-font-size: .9rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: auto;
}
a {
  color: var(--page-text-color-links);
  text-decoration: none;
  box-shadow: 0 1px 0 0 transparent;
  transition: all 250ms;
}
/* a:hover {
  color: var(--page-text-color-links-hover);
  box-shadow: 0 1px 0 0 var(--page-text-color-links-hover);
} */
p	{padding: 0 1rem;}
h1,
h2,
h3,
h4,
h5,
page-title {
  font-family: var(--font01);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--page-high-light-color);
  letter-spacing: var(--font01-letter-spacing);
}
panel-header h1 { 
  padding: 0;
  margin: 0;   
}
panel-header h2 {
  margin: 0;
  padding-left: 0;
  color: var(--page-high-light-color);
}
highlight-h1 {
  font-family: var(--font01);
  font-size: 2rem;
  color: var(--page-high-light-color);
}
low-light {
  color: var(--page-low-light-color);
}
