<panel-header>
  <panel-header-left>
    <span>DETAILS</span>
  </panel-header-left>
  <panel-header-center></panel-header-center>
  <panel-header-right title="Close panel">
    <panel-close>
      <low-light>[</low-light>&#160;x&#160;<low-light>]</low-light>
    </panel-close>
  </panel-header-right>
</panel-header>
<panel-content>
  <label>
    <span>MOTION</span>
  </label>
  <list-item>
    <list-cell>
      <span>On </span>
      <input type="radio" name="motion" checked />
    </list-cell>
    <list-cell>
      <span>Off</span>
      <input type="radio" name="motion" />
    </list-cell>
  </list-item>
  <label>
    <span>LAYOUT [ density ]</span>
  </label>
  <list-item>
    <list-cell>
    <span>Full <low-light>[</low-light>&#160;default&#160;<low-light>]</low-light></span>
	  <list-cell>
	  <list-cell>
		<input type="radio" name="density" checked />
	  <list-cell>
	</list-item>
    <list-item>
	  <list-cell>
	    <span>Medium</span>
	  </list-cell>
	  <list-cell>
	    <input type="radio" name="density" />
	  </list-cell>
	</list-item>
	<list-item>
	  <list-cell>
	    <span>Compact </span>
	  </list-cell>
	  <list-cell>
	    <input type="radio" name="density" />
	  </list-cell>
	</list-item>
    <label>
	  <span>THEMES</span>
	</label>
    <list-item>
	  <list-cell>
	    <span>Light </span>
	  </list-cell>
	  <list-cell>
	    <input type="radio" name="themes" />
	  </list-cell>
	</list-item>
	<list-item>
	  <list-cell>
	    <span>Light [</low-light>&#160;minimal&#160;<low-light>]</low-light></span>
	  </list-cell>
	  <list-cell>
	    <input type="radio" name="themes" />
	  </list-cell>
	</list-item>
	<list-item>
	  <list-cell>
	    <span>Dark </span>
	  </list-cell>
	  <list-cell>
	    <input type="radio" name="themes" />
	  </list-cell>
	</list-item>
	<list-item>
	  <list-cell>
	    <span>Dark [</low-light>&#160;minimal&#160;<low-light>]</low-light></span>
	  </list-cell>
	  <list-cell>
	    <input type="radio" name="themes" />
	  </list-cell>
	</list-item>
	<list-item>
	  <list-cell>
	    <span>Globe [</low-light>&#160;default&#160;<low-light>]</low-light></span>
	  </list-cell>
	  <list-cell>
	    <input type="radio" name="themes" />
	  </list-cell>
	</list-item>
	<list-item>
	  <list-cell>
	    <span>Globe [</low-light>&#160;minimal&#160;<low-light>]</low-light></span>
	  </list-cell>
	  <list-cell>
	    <input type="radio" name="themes" />
	  </list-cell>
	</list-item>
</panel-content>
<panel-footer>
    <panel-footer-left><span>: :</span></panel-footer-left>
    <panel-footer-center><span>: :</span></panel-footer-center>
    <panel-footer-right><span>: :</span></panel-footer-right>
</panel-footer>
