<panel-header>
  <panel-header-left>
    <span>DETAILS</span>
  </panel-header-left>
  <panel-header-center></panel-header-center>
  <panel-header-right title="Close panel">
    <panel-close>
      <low-light>[</low-light>&#160;x&#160;<low-light>]</low-light>
    </panel-close>
  </panel-header-right>
</panel-header>
<panel-content>
	<list-graphics></list-graphics>
  <list-layouts></list-layouts>
  <list-themes></list-themes>
</panel-content>
<panel-footer>
    <panel-footer-left><span>: :</span></panel-footer-left>
    <panel-footer-center><span>: :</span></panel-footer-center>
    <panel-footer-right><span>: :</span></panel-footer-right>
</panel-footer>
