<panel-header>
  <panel-header-left>PROFILE</panel-header-left>
  <panel-header-center></panel-header-center>
  <panel-header-right>
    <panel-close>
      <low-light>[</low-light>&#160;x&#160;<low-light>]</low-light>
    </panel-close>
  </panel-header-right>
</panel-header>
<panel-content>
  <list-details></list-details>
</panel-content>
<panel-footer>
  <panel-footer-left>: :</panel-footer-left>
  <panel-footer-center>: :</span></panel-footer-center>
  <panel-footer-right>: :</panel-footer-right>
</panel-footer>
