page-footer {
  grid-template-rows: auto;
  grid-column: 1 / -1;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
}
page-footer-left {
  justify-self: left;
  align-self: center;
}
page-footer-center {
  justify-self: center;
  align-self: center;
}
page-footer-right {
  justify-self: right;
  align-self: center;
}