page-footer {
  display: grid;
  grid-template-rows: auto;
  grid-column: 1 / -1;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(255,255,255,0.05);
}

page-footer-left {
  display: grid;
  justify-content: start;
  align-content: center;
  color: rgba(255,255,255,0.3);
}

page-footer-center {
  display: grid;
  justify-content: center;
  align-content: center;
}

page-footer-right {
  display: grid;
  justify-content: end;
  align-content: center;
  color: rgba(255,255,255,0.3);
}

page-footer powered-by,
page-footer page-center,
page-footer app-version {
	font-family: var(--font01);
	letter-spacing: 0.05rem;
	color: rgba(255,255,255,0.3);
  font-size: 1rem;
  padding: 1rem;
}
