list-results-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

list-results-header list-item {
  grid-template-columns: 1fr 1fr 1fr 1fr 10rem;
  border-radius: 0.2rem;
  background-color: var(--panel-bg-color);
  align-content: center;
}

list-results-header list-cell {
  padding: 1rem;
}

list-results {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  overflow-y: auto;
  padding: 0;
  margin: 0.5rem 0 0 0;
  gap: 0.5rem 0;
}

list-results list-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 10rem;
  grid-template-rows: 1fr;
  border-radius: 0.3rem;
  background-color: var(--panel-bg-color);
  align-content: center;
  transition: all 250ms;
}

list-results list-item:hover,
list-results list-item.active {
  background-color: rgba(102,175,233,0.1);/* #00A1FF */
  cursor: pointer;
}

list-results list-cell {
  display: grid;
  justify-content: start;
  align-content: start;
  padding: 1rem;
}

list-results list-cell:last-of-type {justify-content: center;}

list-results list-cell:empty::after {
  content: "no data";
  color: rgba(255,255,255,0.3);
}
