/* Local override of _lists.css */

list-pagination {
  grid-template-columns: auto;
  justify-content: end;
}
list-pagination list-item {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: transparent;
}

list-pagination list-cell {
  border-right: solid 0.01rem rgba(255,255,255,0.2);
  padding: 1rem;
  font-family: var(--font01);
  color: rgba(255,255,255,0.5);
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: 250ms all;
}

list-pagination list-cell:hover {color: rgba(255,255,255,1.0);}
list-pagination list-cell:last-of-type {border: none;}
