<panel-header>
    <panel-header-left><h1>ALERTS</h1></panel-header-left>
    <panel-header-center></panel-header-center>
    <panel-header-right></panel-header-right>
</panel-header>
<panel-content>
    <p>Alerts content</p>
    <ul>
        <list-item><list-cell>ID</list-cell><list-cell>{alert.id}</list-cell></list-item>
        <list-item><list-cell>Title</list-cell><list-cell>{alert.title}</list-cell></list-item>
        <list-item><list-cell>Recipient</list-cell><list-cell>{alert.recipient}</list-cell></list-item>
        <list-item><list-cell>Details</list-cell><list-cell><a href=\"https://{alert.details}\" target=\"_new\">{alert.details}</a></list-cell></list-item>
        <list-item><list-cell>Respond</list-cell><list-cell><a href=\"mailto:{alert.response}\" target=\"_new\">{alert.response}</a></list-cell></list-item>
    </ul>
</panel-content>
<panel-footer>
    <panel-footer-left>: :</panel-footer-left>
    <panel-footer-center>: :</panel-footer-center>
    <panel-footer-right>: :</panel-footer-right>
</panel-footer>