<panel-header>
    <panel-header-left><h1>DASHBOARD</h1></panel-header-left>
    <panel-header-center></panel-header-center>
    <panel-header-right></panel-header-right>
</panel-header>
<panel-content>
    <!-- <p>Calendar</p>
    <p>Transactions</p>
    <p>Clients</p>
    <p>Employees</p>
    <p>Contacts</p>
    <p>Legal</p>
    <p>Logistics</p>
    <p>Marketing</p>
    <p>Sales</p>
    <p>Budget</p>
    <p>Alerts</p>
    <p>Favorites</p> -->
</panel-content>
<panel-footer>
    <panel-footer-left>: :</panel-footer-left>
    <panel-footer-center>: :</panel-footer-center>
    <panel-footer-right>: :</panel-footer-right>
</panel-footer>