<panel-header>
    <panel-header-left>DETAILS</panel-header-left>
    <panel-header-center>: :</panel-header-center>
    <panel-header-right>: :</panel-header-right>
</panel-header>
<panel-content>
    <tab-container>
        <!-- TAB CONTROLS -->
        <input type="radio" id="detailsTabToggle01" name="details-tabs" value="1" checked />
        <label for="detailsTabToggle01" checked="checked">TAB 01</label>
        <input type="radio" id="detailsTabToggle02" name="details-tabs" value="2" />
        <label for="detailsTabToggle02">TAB 02</label>
        <input type="radio" id="detailsTabToggle03" name="details-tabs" value="3" />
        <label for="detailsTabToggle03">TAB 03</label>
        <input type="radio" id="detailsTabToggle04" name="details-tabs" value="4" />
        <label for="detailsTabToggle04">TAB 04</label>
        <tab-content>
            <p>TAB 01 content</p>
        </tab-content>
        <tab-content>
            <p>TAB 02 content</p>
        </tab-content>
        <tab-content>
            <p>TAB 03 content</p>
        </tab-content>
        <tab-content>
            <p>TAB 04 content</p>
        </tab-content>
    </tab-container>
</panel-content>
<panel-footer>
    <panel-footer-left>: :</panel-footer-left>
    <panel-footer-center>: :</panel-footer-center>
    <panel-footer-right>: :</panel-footer-right>
</panel-footer>