<panel-header>
    <panel-header-left><h1>FAVORITES</h1></panel-header-left>
    <panel-header-center></panel-header-center>
    <panel-header-right></panel-header-right>
</panel-header>
<panel-content>
    <p>Favorites content</p>
    <ul>
        <li><table-cell>ID</table-cell><table-cell>{item.id}</table-cell></li>
        <li><table-cell>name</table-cell><table-cell>{item.name}</table-cell></li>
        <li><table-cell>username</table-cell><table-cell>{item.username}</table-cell></li>
        <li><table-cell>website</table-cell><table-cell><a href=\"https://{item.website}\" target=\"_new\">{item.website}</a></table-cell></li>
        <li><table-cell>email</table-cell><table-cell><a href=\"mailto:{item.email}\" target=\"_new\">{item.email}</a></table-cell></li>
    </ul>
</panel-content>
<panel-footer>
    <panel-footer-left>: :</panel-footer-left>
    <panel-footer-center>: :</panel-footer-center>
    <panel-footer-right>: :</panel-footer-right>
</panel-footer>