<panel-header>
  <panel-header-left>NAV</panel-header-left>
  <panel-header-center>: :</panel-header-center>
  <panel-header-right>: :</panel-header-right>
</panel-header>
<panel-content>
  <ul style="margin-top: .5em;">
    <li>
      <table-cell>
        <input type="checkbox" />
      </table-cell>
      <table-cell>navitem</table-cell>
      <table-cell>01</table-cell>
    </li>
    <li>
      <table-cell>
        <input type="checkbox" />
      </table-cell>
      <table-cell>navitem</table-cell>
      <table-cell>02</table-cell>
    </li>
    <li>
      <table-cell>
        <input type="checkbox" />
      </table-cell>
      <table-cell>navitem</table-cell>
      <table-cell>03</table-cell>
    </li>
    <li>
      <table-cell>
        <input type="checkbox" />
      </table-cell>
      <table-cell>navitem</table-cell>
      <table-cell>04</table-cell>
    </li>
    <li>
      <table-cell>
        <input type="checkbox" />
      </table-cell>
      <table-cell>navitem</table-cell>
      <table-cell>05</table-cell>
    </li>
  </ul>
</panel-content>
<panel-footer>
  <panel-footer-left>: :</panel-footer-left>
  <panel-footer-center>: :</panel-footer-center>
  <panel-footer-right>: :</panel-footer-right>
</panel-footer>
