<panel-header>
    <panel-header-left style="padding: 0;"></panel-header-left>
    <panel-header-center style="padding: 0;"></panel-header-center>
    <panel-header-right style="padding: 0;"></panel-header-right>
</panel-header>
<panel-content>
    <panel-content-split style="padding: 1rem;">
        <panel-content-left>
            <h1 style="color: #D7dAE0; margin-top: 0; padding: 0;">TOTAL/YEAR</h1>
            <p style="margin-bottom: 0; padding: 0;">Days/year</p>
            <h1 style="color: #D7dAE0; padding: 0;">75</h1>
            <p style="margin-bottom: 0; padding: 0;">[ 2020 ] - [ 2022 ]</p>
        </panel-content-left>
        <panel-content-right>
            <div class="percent">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <circle-number>
                    <h1 style="font-weight: 900;">85<span>%</span></h1>
                    <circle-text>Increase</circle-text>
                </circle-number>
            </div>
        </panel-content-right>
    </panel-content-split>
</panel-content>
<panel-footer>
    <panel-footer-left>: :</panel-footer-left>
    <panel-footer-center>: :</panel-footer-center>
    <panel-footer-right>: :</panel-footer-right>
</panel-footer>